/*		*/
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body{
	position: relative;
	display: block;
	float: left;

	width: 100%;
	height: 100%;

	overflow: hidden;
	/*cursor: none;*/
}

.body{
	position: absolute;
	display: inline-block;
	float: none;

	width: auto;
	height: auto;
	top: 110%;
	left: 50%;

	/*border: 1px dotted white; */
	border-radius: 50%;
	opacity: 1;
	/*transition: all 0.1s;*/
}
.lvl01{
	width: 55px;
	height: 60px;

	background: black;
	z-index: 1000;
}
.lvl02{
	width: 105px;
	height: 110px;

	background: black;
	z-index: 999;
}
.lvl03{
	width: 140px;
	height: 140px;

	background: black;
	z-index: 998;
}
.lvl04{
	width: 170px;
	height: 160px;

	background: black;
	z-index: 997;
}
.lvl05{
	width: 180px;
	height: 165px;

	background: black;
	z-index: 996;
}
.lvl06{
	width: 190px;
	height: 180px;

	background: black;
	z-index: 995;
}
.lvl07{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 994;
}
.lvl08{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 993;
}
.lvl09{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 992;
}
.lvl10{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 991;
}
.lvl11{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 990;
}
.lvl12{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 989;
}
.lvl13{
	width: 205px;
	height: 190px;
	margin-top: -5px;

	background: black;
	z-index: 988;
}
.lvl14{
	width: 205px;
	height: 190px;
	margin-top: -10px;

	background: black;
	z-index: 987;
}
.lvl15{
	width: 205px;
	height: 190px;
	margin-top: -15px;

	background: black;
	z-index: 986;
}
.lvl16{
	width: 205px;
	height: 190px;
	margin-top: -15px;

	background: black;
	z-index: 985;
}
.lvl17{
	width: 205px;
	height: 190px;
	margin-top: -10px;

	background: black;
	z-index: 984;
}
.lvl18{
	width: 205px;
	height: 190px;
	margin-top: -5px;

	background: black;
	z-index: 983;
}
.lvl19{
	width: 205px;
	height: 190px;
	margin-top: 0px;

	background: black;
	z-index: 982;
}
.lvl20{
	width: 205px;
	height: 190px;
	margin-top: 5px;

	background: black;
	z-index: 981;
}
.lvl21{
	width: 205px;
	height: 190px;
	margin-top: 10px;

	background: black;
	z-index: 980;
}
.lvl22{
	width: 205px;
	height: 190px;
	margin-top: 15px;

	background: black;
	z-index: 979;
}
.lvl23{
	width: 205px;
	height: 190px;
	margin-top: 20px;

	background: black;
	z-index: 978;
}
.lvl24{
	width: 205px;
	height: 190px;
	margin-top: 25px;

	background: black;
	z-index: 977;
}
.lvl25{
	width: 205px;
	height: 190px;
	margin-top: 30px;

	background: black;
	z-index: 976;
}
.lvl26{
	width: 205px;
	height: 190px;
	margin-top: 35px;

	background: black;
	z-index: 975;
}
.lvl27{
	width: 205px;
	height: 190px;
	margin-top: 40px;

	background: black;
	z-index: 974;
}
.lvl28{
	width: 205px;
	height: 190px;
	margin-top: 45px;

	background: black;
	z-index: 973;
}
.lvl29{
	width: 205px;
	height: 190px;
	margin-top: 50px;

	background: black;
	z-index: 972;
}
.lvl30{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 971;
}
.lvl31{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 970;
}
.lvl32{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 969;
}
.lvl33{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 968;
}
.lvl34{
	width: 205px;
	height: 190px;

	background: black;
	z-index: 967;
}

.arcoiris{
	opacity:100;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position:absolute;
	display:inline;
}
.rojo {
	background-color: #FF0000;
	z-index:7;
}
.naranja{
	background-color: #FF6200;
	z-index:6;
}
.amarillo{
	background-color: #FFCC00;
	z-index:5;
}
.verde{
	background-color: #00E604;
	z-index:4;
}
.celeste{
	background-color: #00CBE6;
	z-index:3;
}
.azul{
	background-color: #0008E6;
	z-index:2;
}
.violeta{
	background-color: #A400E6;
	z-index:1;
}
